html {
	height:100%;
}

body {
	height:100%;
}

h1 {
	font-family: Fjalla One;
	color: #EEEEEE;
	font-size: 95px;
	text-shadow: 0px 3px 18px #252424;
}
#banner h2 {
	font-family: Open Sans;
	color: whiteSmoke;
	font-size: 30px;
	text-shadow: 0px 2px 7px #000000;
	line-height:0;
}

#masthead {
	height: 100%;
	background-image: url("masthead_textless_wide_1080.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 0px 20px #303030;
	z-index: 1;
	position: relative;
	border-bottom: 1px solid rgb(107, 107, 107);
}

#aboutFFF {
	min-height:600px;
}

#film_guidelines {
	ul li {
		font-size:13pt;
		padding-top: 7px;
		padding-bottom: 7px;
		strong {
			color: rgb(197, 134, 134);
		}
	}
}

.description_container {
	color:#DDDDDD;
	font-family: Open Sans;
}

.descriptions {
	font-size: 18pt;
	font-family: Open Sans;
}

h3 {
	font-family: Fjalla One;
	font-size: 80px;
	text-align: center;
}

.row {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.nav {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
	height: 48px;
}

.internalNav {
	float:right;
	font-size:18px;
	font-family:Open Sans;
	a {
		float: left;
		margin-left: 15px;
		margin-right: 15px;
		padding-top: 12px;
		line-height: 20px;
		text-decoration: none;
		color:#FFFFFF;

	}
	a:hover {
		border-bottom: 1px solid white;
	}
}
