html {
	height:100%;
}

body {
	height:100%;
}

h1 {
	font-family: Fjalla One;
	color: #EEEEEE;
	font-size: 95px;
	text-shadow: 0px 3px 18px #252424;
}
#banner h2 {
	font-family: Open Sans;
	color: whiteSmoke;
	font-size: 30px;
	text-shadow: 0px 2px 7px #000000;
	line-height:0;
}

#masthead {
	height: 100%;
	background-image: url("masthead_textless_wide_1080.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 0px 20px #303030;
	z-index: 1;
	position: relative;
	border-bottom: 1px solid rgb(107, 107, 107);
}

#aboutFFF {
	min-height:600px;
	background: #2c3e50;
	padding-top: 70px;
	padding-bottom:70px;	
	img {
		padding: 5%;padding-top: 0px;max-width: 100%;padding-bottom: 0px;padding-right: 2%;margin-top: -2%;
	}
}

#film_guidelines {
	background: #783c5f;padding-top: 110px;padding-bottom:70px;min-height:600px;	
	ul li {
		font-size:13pt;
		padding-top: 7px;
		padding-bottom: 7px;
		strong {
			color: rgb(197, 134, 134);
		}
	}
	img {
		padding-top: 0px;max-width: 100%;padding-bottom: 0px;
	}
	h3 {
		margin-top:0;color: #AFAF3A;
	}
}

.description_container {
	color:#DDDDDD;
	font-family: Open Sans;
}

.descriptions {
	font-size: 18pt;
	font-family: Open Sans;
}

h3 {
	font-family: Fjalla One;
	font-size: 80px;
	text-align: center;
}



.nav {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	border-top: 0;
	height: 48px;
}

.internalNav {
	float:right;
	font-size:18px;
	font-family:Open Sans;
	a {
		float: left;
		margin-left: 15px;
		margin-right: 15px;
		padding-top: 12px;
		line-height: 20px;
		text-decoration: none;
		color:#FFFFFF;

	}
	a:hover {
		border-bottom: 1px solid white;
	}
}

a {
	text-decoration:none;
}

#entry_guidelines {
	h4 {
		margin-top: 0;
		color: #F2FCFF;
		font-family: Fjalla One;
		text-align: center;
		font-size: 25pt;
	}
	.section_symbol {
		width: 42%;margin-left: 29%;
		margin-bottom: 10px;
	}
	.descriptions {
		font-size: 14pt;
	}
	ul {
		list-style: circle inside; 
	}

}

#guideline_links {
	font-size: 10pt;text-align: center;margin-top:5px;color: #005BBD;
}

#menuFade {
	background-color: rgba(83, 83, 83, 0.8);z-index: -1;display:none;
	img {
		height: 35px;margin: 7px;margin-left: 10px;
	}
}

#banner {
	text-align:center;margin-top: 6%;
}

#challenges {
	background: #1D8B76;padding-top: 110px;padding-bottom:70px;
	h3 {
		margin-top:0;color: #C1EFFA;opacity: 0.9;
	}
	.descriptions {
		color: #FFFFFF;opacity: 0.9;
	}
	#current_challenge {
		text-align: center;
		h4 {
			font-family: Fjalla One;color: #CDDB68;opacity: 0.9;font-size: 22pt;
		}
		h5 {
			font-family: Fjalla One;color: #E6E6E6;opacity: 0.9;font-size: 34pt;
		}
	}
	#challenges_info_container {
		margin-top:20px;
	}
}

#due_date {
	background: url(challenge_due.png);width: 100px;height: 130px;background-size: 100px 100px;text-align: center;background-repeat: no-repeat;background-position: 0 30px;margin-top: -20px;
	h6 {
		font-weight: bold;
		margin:0;
	}
	#text_due {
		color: white;font-size: 14pt;padding-top: 5%;
	}
	#due_month {
		color: white;font-size: 14pt;padding-top: 9%;
	}
	#due_day {
		color: #34495e;font-size: 37pt;padding-top: 16%;
	}
}

#entry_guidelines {
	padding-top: 70px;padding-bottom:70px;min-height:600px;background: #61ADE0;
	#entry_rules {
		img {
			width: 17.5%;margin-left: 41.25%;
			margin-bottom: 10px;
			margin-top: 10px;
		}
		p {
			font-size:12pt;
		}
	}
}

#button_container {
	margin-left: 37.5%;
}

#film_challenge_description {
	border-right: 1px solid white;
}

#mobile_nav {
	display:none;
}

#submit_a_film {
	padding-top: 110px;padding-bottom:70px;min-height:600px;background-image:url(cardboard_flat.png);
	h3 {
		margin-top:0;color: #565D5F;opacity: 0.9;
	}
	.white_spacer {
		height: 14px;border-bottom: 1px solid white;
	}
	#film_spacer {
		float: left;width: 70%;margin-left: 15%;
	}
	.description_row {
		margin-top:10px;
	}
	.descriptions {
		text-align: center;
	}
	.button_row {
		margin-top:15px;
	}
}




@media (max-width: 992px) {
	#aboutFFF img {
		max-width:40%;
		margin-left:30%;
	}
	#film_guidelines img {
		max-width: 40%;
		margin-left: 30%;
	}
	#due_date {
		margin-left: auto;
		margin-right: auto;
		margin-top:5px;
	}

	#button_container {
		margin-left: 0%;
		button {
			width: 50%;
			margin-left: 25%;
		}
	}
	#film_challenge_description {
		border-right:none;
	}
	.section_symbol {
		margin-top:40px;
	}
	#entry_guidelines #entry_rules img {
		width: 25%;
		margin-left: 37.5%;
		margin-bottom: 20px;
		margin-top:40px;
	}
	#film_guidelines {
		padding-top:60px;
		padding-bottom: 50px;
	}
	#challenges {
		padding-top:60px;
		padding-bottom: 50px;
	}
	#submit_a_film {
		padding-top:60px;
		padding-bottom: 50px;
		min-height:0px;
	}
	#submit_a_film .button_row {
		margin-top: 0px;
	}
	#entry_guidelines {
		padding-top:20px;
		padding-bottom: 30px;
		.section_symbol {
			width: 25%;
			margin-left: 37.5%;
			margin-bottom: 20px;
		}
	}
	h3 {
		font-size:56px;
	}
	.descriptions {
		font-size:13pt;
	}
	#submit_a_film #film_spacer {
		width: 50%;
		margin-left: 25%;
	}
	#challenges #challenges_info_container {
		margin-top:0;
	}
	#challenges #current_challenge h5 {
		font-size: 24pt;
		margin-top:0;
	}
	#entry_guidelines .descriptions {
		font-size: 12pt;
	}
	h1 {
		font-size:75px;
	}
	#banner {
		margin-top:8%;
	}
}

@media (max-width: 650px) {
	.nav {
		display:none;
	}
	#mobile_nav {
		display:block;
	}
}


@media (max-width: 481px) {
	h1 {
		font-size:50px;
	}
}